.cardItem {
    background-color: white;
    height: 300px;
    // background-color: blue;
    margin-bottom: 2rem;
    box-shadow: 0 1px 7px rgb(0 0 0 / 10%);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    .cardBody {
        padding: 5px;

        .price {
            padding: 5px;
            font-size: 20px;
            font-weight: bold;
            color: #8377db;
        }

        .perMonth {
            color: gray;
            font-size: 12px;
        }

        .location {
            margin-top: 7px;
            color: black;
            font-weight: bold;
            font-size: 24px;
            padding: 5px;
        }

        .dateOfAvailability {
            margin-top: 3px;
            padding: 5px;
        }

        .typeOfProperty {
            padding: 0 5px;
        }
    }

    &:hover {
        transform: scale(1.05);
    }
}