.main {
    --mainHeight: calc(100vh - var(--headerHeight));

    width: 100%;
    height: var(--mainHeight);
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 2rem;

    .mainContent {
        max-width: var(--globalMaxWidth);
        // min-height: var(--mainHeight);
        width: 100%;

        .mainContentHeader {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 0.5rem;

            .mainContentHeaderLeft {
                color: #383B3D;
                font-weight: 600;
                line-height: 1.5;
                font-size: 2rem;
                padding: 1rem;
            }

            .mainContentHeaderRight {
                padding: 1rem;
                width: 320px;

                .mainContentHeaderRightContainer {
                    display: flex;
                    align-items: center;
                    border: 1px solid gray;
                    height: 2.7rem;
                    border-radius: 5px;
                }

                .mainContentHeaderRightInput {
                    height: 100%;
                    width: 300px;
                    outline: none;
                    padding: 0.5rem;
                    border: none;
                    box-shadow: 0 1px 7px rgb(0 0 0 / 10%);
                    border-top-left-radius: 5px;
                    border-bottom-left-radius: 5px;
                    font-size: 16px;
                }

                .mainContentHeaderRightIcon {
                    color: black;
                    background-color: white;
                    // background-color: blue;
                    height: 100%;
                    padding: 0.5rem;
                    border-bottom-right-radius: 5px;
                    border-top-right-radius: 5px;
                    cursor: pointer;

                    &:hover {
                        background-color: #fafafa;
                    }
                }
            }
        }

        .mainContentFilterContainer {
            padding: 1rem;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .filterCriteria {
                height: 100%;
                width: 200px;
                outline: none;
                padding: 0.5rem;
                border: none;
                box-shadow: 0 1px 7px rgb(0 0 0 / 10%);
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
                font-size: 16px;
                cursor: pointer;
            }

            .mainContentFilterButton {
                background-color: black;
                color: white;
                border: 1px solid gray;
                height: 2.7rem;
                width: 150px;
                border-radius: 5px;
                font-weight: 400;
                font-size: 14px;
                cursor: pointer;

                &:hover {
                    box-shadow: 0 1px 7px rgb(0 0 0 / 10%);
                }
            }
        }

        .mainContentList {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: space-around;
            margin-top: 10px;

            img {
                width: 250px;
                height: 150px;
            }
        }
    }
}