:root {
    --headerHeight: 12%;
    --headerWidth: 100%;
    --headerBoxShadow: 0 1px 7px rgb(0 0 0 / 10%);
    --globalMaxWidth: 1366px;
}

.header {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: var(--headerHeight);
    width: var(--headerWidth);
    box-shadow: var(--headerBoxShadow);
    padding: 8px 16px;

    .headerContent {
        max-width: var(--globalMaxWidth);
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        width: 100%;

        .headerContentLeft {
            display: flex;
            align-items: center;
            height: 100%;

            .headerLogo {
                height: 90%;
            }
        }
    }
}

.dummyHeader {
    height: var(--headerHeight);
    width: var(--headerWidth);
}