@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

html, body {
	height: 100vh;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

*{
	box-sizing: border-box;
	font-family: 'Roboto';
}